<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="center">
    <app-moderator-comment-list [user]="user" [roomId]="roomId"></app-moderator-comment-list>
  </div>
  <button id="live_announcer-button" tabIndex="-1" (click)="announce()"
          class="visually-hidden">{{ 'comment-page.live-announcer-moderation' | translate }}</button>
</div>

