<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row>
    <button id="back-button" mat-icon-button aria-labelledby="back-label" *ngIf="router.url !== '/home'"
            (click)="goBack()"
            matTooltip="{{'header.back' | translate}}">
      <mat-icon class="header-icons">arrow_back</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <h2 *ngIf="router.url.includes('comments') && user.role === 3 && deviceType === 'desktop'">
      {{cTime}}
    </h2>
    <span class="fill-remaining-space"
          *ngIf="router.url.includes('comments') && user.role === 3 && deviceType === 'desktop'"></span>
    <button mat-icon-button class="gavel" *ngIf="router.url.includes('comments') && user.role === 0 && moderationEnabled"
            #tt="matTooltip" matTooltip="{{ 'header.moderation-enabled' | translate }}" (click)="tt.toggle()">
      <mat-icon class="header-icons">gavel</mat-icon>
    </button>
    <h2 id="shortId-header" *ngIf="router.url.includes('comments') && user.role === 3 && deviceType === 'desktop'">
      {{'header.id' | translate}}: {{ shortId.slice(0, 4) }} {{  shortId.slice(4, 8) }}
    </h2>
    <button mat-icon-button (click)="showQRDialog()"
    *ngIf="router.url.substring(router.url.length - 13, router.url.length) === ('room/' + shortId)">
      <mat-icon svgIcon="qrcode" class="header-icons qrcode">
      </mat-icon>
    </button>
    <span class="fill-remaining-space"></span>

    <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngIf="user" routerLink="/user" tabindex="0">
        <mat-icon class="sessions">people</mat-icon>
        <span *ngIf="!user.isGuest">{{'header.my-sessions' | translate}}</span>
        <span *ngIf="user.isGuest">{{'header.visited-sessions' | translate}}</span>
      </button>
      <button mat-menu-item *ngIf="user" (click)="openUserBonusTokenDialog()" tabindex="0">
        <mat-icon class="bonus">grade</mat-icon>
        <span>{{'header.user-bonus-token' | translate}}</span>
      </button>
      <button mat-menu-item *ngIf="user && !user.isGuest" (click)="openDeleteUserDialog()" tabindex="0">
        <mat-icon color="warn">delete</mat-icon>
        <span>{{'header.delete-account' | translate}}</span>
      </button>
      <button mat-menu-item *ngIf="router.url !== '/home'" routerLink="/home" tabindex="0">
        <mat-icon>home</mat-icon>
        <span>{{'header.go-to-home' | translate}}</span>
      </button>
      <button mat-menu-item (click)="logout()" tabindex="0">
        <mat-icon color="warn">exit_to_app</mat-icon>
        <span>{{ 'header.logout' | translate }}</span>
      </button>
    </mat-menu>

    <button [disabled]="cookiesDisabled()" mat-button *ngIf="user && deviceType === 'desktop'"
            [matMenuTriggerFor]="userMenu"
            aria-labelledby="session-label" id="session-button">
        <mat-icon class="header-icons">account_circle</mat-icon>
        <span class="button-text" *ngIf="!user.isGuest">{{'header.my-account' | translate}}</span>
        <span class="button-text" *ngIf="user.isGuest">{{'header.my-guest-account' | translate}}</span>
    </button>

    <button [disabled]="cookiesDisabled()" mat-icon-button *ngIf="user && deviceType === 'mobile'"
            [matMenuTriggerFor]="userMenu"
            aria-labelledby="session-label">
      <mat-icon class="header-icons">account_circle</mat-icon>
    </button>

    <button id="login-button" [disabled]="cookiesDisabled()" mat-button *ngIf="!user && deviceType === 'desktop'"
            (click)=login(false) aria-labelledby="login-label">
        <mat-icon class="header-icons">account_circle</mat-icon>
        <span class="button-text" *ngIf="deviceType === 'desktop'">{{'header.login' | translate}}</span>
    </button>

    <button [disabled]="cookiesDisabled()" mat-icon-button *ngIf="!user && deviceType === 'mobile'" (click)=login(false)
            aria-labelledby="login-label">
      <mat-icon class="header-icons">account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="visually-hidden">
  <div id="login-label">{{'header.accessibility-login' | translate}}</div>
  <div id="back-label">{{'header.accessibility-back' | translate}}</div>
  <div id="session-label">{{'header.accessibility-session' | translate}}</div>
</div>
