mat-toolbar {
  background-color: var(--surface);
  position: relative;
}

.header-icons {
  color: var(--on-surface);
}

::ng-deep .qrcode svg > path {
  fill: var(--on-surface);
  color: var(--on-surface);
}

svg {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.gavel {
  cursor: initial;
}

.bonus {
  color: var(--yellow);
}

.sessions {
  color: var(--secondary);
}

.mat-button {
  padding: 0;
}
