<form (ngSubmit)="submitContent()">
  <mat-radio-group [(ngModel)]="yesno" [ngModelOptions]="{standalone: true}" fxLayout="row" fxLayoutAlign="center"
                   fxLayoutGap="20px">
    <mat-radio-button [value]=true [checked]=true>
      {{ 'content.yes' | translate }}
    </mat-radio-button>
    <mat-radio-button [value]=false [checked]=false>
      {{ 'content.no' | translate }}
    </mat-radio-button>
  </mat-radio-group>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">
    <button mat-raised-button type="submit" class="button-primary">{{ 'content.create' | translate }}</button>
  </div>
</form>
