.positiveC {
  background-color: var(--green);
}

.negativeC {
  background-color: var(--red);
}

.okayC {
  background-color: var(--yellow);
}

.emptyC {
  background-color: var(--grey);
}

mat-chip {
  width: 130px !important;
  display: flex;
  justify-content: center;
}

mat-icon {
  color: var(--on-surface);
}
