<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
<div *ngIf="!isLoading" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card>
    <div class="feedback-container" [ngClass]="{'faded' : isClosed}">
      <div fxLayout="row" fxLayoutGap="30px" *ngFor="let state of feedback; let i = index">
        <mat-icon matTooltip="{{ fieldNames[i] | translate }}"
                  (click)="!isOwner && submitFeedback(state.state)">{{ state.name }}</mat-icon>
        <mat-progress-bar class="feedback-progress" [value]="state.count"></mat-progress-bar>
      </div>
    </div>
    <div class="text invisible" [ngClass]="{'visible' : isClosed}">
      <h3>{{ 'feedback.is-stopped' | translate }}</h3>
    </div>
    <div fxLayoutAlign="center" *ngIf="isOwner">
      <button mat-raised-button class="button-primary" fxLayoutAlign="center" (click)="toggle()">
        {{ (isClosed ? 'feedback.start' : 'feedback.stop') | translate }}
      </button>
    </div>
  </mat-card>
</div>
