<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card>
      <mat-card-header>
        <h2>{{'statistic.answer-statistic' | translate}}</h2>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button (click)="showHelp()">
          <mat-icon>help</mat-icon>
        </button>
      </mat-card-header>
      <mat-divider></mat-divider>
      <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
      <mat-tab-group>
        <mat-tab *ngFor="let cg of contentGroups; let i = index" label="{{cg.name}}">
          <div fxLayout="column" fxLayoutAlign="center">
            <app-list-statistic [contentGroup]="cg"></app-list-statistic>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
