form {
  width: 100%;
}

mat-tab-group {
  width: 90vw;
  max-width: 800px;
}

.formats {
  & ::ng-deep .mat-tab-labels {
    justify-content: center;
  }
}

.group {
  width: 75%;
  max-width: 300px;
}

::ng-deep .mat-tab-body-wrapper {
  min-height: 100px;
}
