<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <form>
      <mat-form-field class="input-block">
        <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
               matInput #subject [(ngModel)]="content.subject" placeholder="{{'content.subject' | translate}}"
               name="subject" maxlength="40">
      </mat-form-field>
      <mat-tab-group [dynamicHeight]=true>
        <mat-tab label="{{'content.body' | translate}}">
          <mat-form-field class="input-block">
            <textarea (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
                  matInput #body [(ngModel)]="content.body" name="body"
                  matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="8" maxlength="250"></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="{{'session.preview' | translate}}" [disabled]="!body.value">
          <div fxLayout="row">
            <markdown [data]="body.value"></markdown>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button #mdtt="matTooltip" matTooltip="{{ 'content.md-info' | translate }}"
                    (click)="mdtt.toggle()">
              <mat-icon class="info-icon">info</mat-icon>
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field class="group">
          <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
                 matInput #group [formControl]="myControl" [matAutocomplete]="auto" maxlength="25"
                 placeholder="{{'content.collection' | translate}}"
                 [(ngModel)]="lastCollection"/>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let collection of contentGroups" [value]="collection">
              {{collection}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button #tt="matTooltip" matTooltip="{{ 'content.format-info' | translate }}"
                (click)="tt.toggle()">
          <mat-icon class="info-icon">info</mat-icon>
        </button>
      </div>
    </form>
    <mat-tab-group class="formats" [dynamicHeight]=true [disablePagination]=true>
      <mat-tab label="Choice">
        <app-content-choice-creator (resetP)="resetInputs()"
                                    [contentSub]="subject.value" [contentBod]="body.value" [contentCol]="group.value">
        </app-content-choice-creator>
      </mat-tab>
      <mat-tab label="Likert">
        <app-content-likert-creator (reset)="resetInputs()"
                                    [contentSub]="subject.value" [contentBod]="body.value" [contentCol]="group.value">
        </app-content-likert-creator>
      </mat-tab>
      <mat-tab label="{{ 'content.yes' | translate }} / {{ 'content.no' | translate }}">
        <app-content-yes-no-creator (reset)="resetInputs()"
                                    [contentSub]="subject.value" [contentBod]="body.value" [contentCol]="group.value">
        </app-content-yes-no-creator>
      </mat-tab>
      <mat-tab label="Text">
        <app-content-text-creator (reset)="resetInputs()"
                                  [contentSub]="subject.value" [contentBod]="body.value" [contentCol]="group.value">
        </app-content-text-creator>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
