<h2>{{ 'room-page.sure' | translate }}</h2>
<mat-divider></mat-divider>
<p>{{ 'settings.reallySession' | translate}}<strong>{{room.name}}</strong>{{ 'settings.really2' | translate}}</p>
<app-dialog-action-buttons
  buttonsLabelSection="settings"
  confirmButtonLabel="delete-room"
  [confirmButtonType]=confirmButtonType
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildRoomDeleteActionCallback()"
></app-dialog-action-buttons>
