mat-radio-button {
  margin-top: 20px;
  color: var(--on-surface);
}

mat-card {
  margin-top: 20px;
  padding: 0 1%;
}

mat-list {
  padding: 0;
  background-color: var(--surface);
}

::ng-deep .mat-list-item-content {
  padding: 0 0 0 10px!important;
}

.inner {
  width: 100%;
}

.delete {
  color: var(--warn);
}

.editIcon {
  color: var(--primary);
}

.editInput {
  margin-left: 8px;
  max-width: calc(100% - 120px);
  height: 60px;
}

::ng-deep .mat-form-field-infix {
  margin-top: 10px;
  border-top: 0;
}

.activeInput {
  width: 100%;
  font-size: larger;
}

.inactiveInput {
  width: 0;
}

.mat-checkbox {
  color: var(--on-surface);
}

.mat-checkbox-label {
  height: auto;
  text-align: center;
  line-height: 18px;
}

.answer-label {
  font-size: larger;
  word-break: break-all;
}

.answer-input {
  width: 100%;
  margin: 0 !important;
}

.add {
  height: 36px;
  width: 36px;
  margin: 0 1% 0 3%;
  background-color: var(--primary);
  color: var(--background);
  transition: 0.3s;
}

.multiple {
  border-radius: 10%;
}

.mat-raised-button {
  min-width: 120px;
}
