<div>
  <h2 tabindex="0" mat-dialog-title>{{ 'imprint.title' | translate }} </h2>

  <mat-dialog-content tabindex="0">

    <div [innerHTML]="imprintContent"></div>

    <app-dialog-action-buttons
      buttonsLabelSection="imprint"
      [cancelButtonClickAction]="buildDeclineActionCallback()">
    </app-dialog-action-buttons>
  </mat-dialog-content>
</div>
