.buttons {
  margin: 20px 0;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.correct {
  color: var(--green);
}

.wrong {
  color: var(--red);
}

.icon-indicator {
  font-size: 80px;
  width: 80px;
  height: 80px;
}

mat-list {
  position: relative;
}

p {
  font-size: 24px;
  color: var(--primary);
  margin: 0;
}

.solution {
  margin: -40px 0 0 -40px;
}

.text {
  width: 300px;
  margin: -16px 0 0 -150px;
  text-align: center;
}

.invisible {
  position: absolute;
  left: 50%;
  top: -200px;
  transform: scale(0);
}

.visible {
  top: 50%;
  transition: 0.5s;
  transform: scale(1);
}

.markdown-container {
  margin: 16px 8px;
}

.stat-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
  color: var(--secondary);
}
