<div mat-dialog-content>
  <h2 tabindex="0">{{'header.bonus-token' | translate }}</h2>
  <mat-divider></mat-divider>
  <div *ngIf="bonusTokensMixin.length >= 1">
    <div fxLayout="column" class="tokens" *ngFor="let bonusToken of bonusTokensMixin; let i = index"
         (click)="navToComment(i)">
      <h2 class="token" tabindex="1">{{bonusToken.token}}</h2>
      <h2 class="roomName">{{bonusToken.roomName}}</h2>
    </div>
  </div>
  <div *ngIf="bonusTokens.length === 0">
    <h3 tabindex="0">{{'header.no-bonus' | translate }}</h3>
  </div>
  <app-dialog-action-buttons
    buttonsLabelSection="introduction"
    [cancelButtonClickAction]="buildDeclineActionCallback()">
  </app-dialog-action-buttons>
</div>
