#comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-height: 90vh;
  font-size: 2.1em;
  margin: 5%;
  white-space: pre-line;
  hyphens: auto;
  overflow-wrap: anywhere !important;
}

#comment p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.exitBtn {
  position: absolute;
  top: 2em;
  max-height: 100px;
  right: 2em;
}

