<form fxLayout="column" fxLayoutGap="10px">
  <mat-form-field *ngIf="allowDbLogin" class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
          [(ngModel)]="username" [errorStateMatcher]="matcher" [formControl]="usernameFormControl" matInput
          name="username" aria-labelledby="email-description"/>
    <mat-placeholder>{{ 'login.email' | translate }}</mat-placeholder>
    <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
      {{ 'login.email-invalid' | translate }}
    </mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('required')">
      {{ 'login.email-required' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="allowDbLogin">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
          [(ngModel)]="password" [errorStateMatcher]="matcher" [formControl]="passwordFormControl" matInput
          name="password" type="password" aria-labelledby="password-description"/>
    <mat-placeholder>{{ 'login.password' | translate }}</mat-placeholder>
    <mat-error *ngIf="passwordFormControl.hasError('required')">{{ 'login.password-required' | translate }}</mat-error>
  </mat-form-field>
  <button *ngIf="allowDbLogin" class="button-secondary" mat-flat-button (click)="login()" aria-labelledby="login-description">
    {{ 'login.login' | translate }}
  </button>
  <button *ngFor="let provider of ssoProviders" (click)="loginViaSso(provider.id)" class="sso" mat-flat-button
          type="button">
    {{ 'login.login-with' | translate }} {{ provider.title }}
  </button>
  <button *ngIf="allowGuest" (click)="guestLogin()" class="button-primary" mat-flat-button type="button"
          aria-labelledby="guest-login-description" matTooltip="{{'login.guest-login-tooltip' | translate}}">
    {{ 'login.guest-login' | translate }}
  </button>
  <div *ngIf="allowDbLogin" fxLayout="row">
    <span class="fill-remaining-space"></span>
    <button mat-button class="forgot-pw" (click)="openPasswordDialog(); $event.preventDefault();
     $event.stopPropagation();">
       {{ 'login.password-reset' | translate }}
    </button>
  </div>
</form>
<div *ngIf="allowDbLogin" fxLayout="row">
  <p>{{ 'login.not-registered' | translate }}</p>
  <button mat-button class="register" (click)="openRegisterDialog(); $event.preventDefault();
    $event.stopPropagation();">
      {{ 'login.register' | translate }}</button>
</div>
<app-dialog-action-buttons
  [spacing]="false"
  buttonsLabelSection="login"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div *ngIf="allowDbLogin" id="email-description">{{ 'login.email-description' | translate }}</div>
  <div *ngIf="allowDbLogin" id="password-description">{{ 'login.password-description' | translate }}</div>
  <div *ngIf="allowDbLogin" id="login-description">{{ 'login.login-description' | translate }}</div>
  <div *ngIf="allowGuest" id="guest-login-description">{{ 'login.guest-login-description' | translate }}</div>
</div>
