<mat-card id="contentGroup" fxLayoutAlign="start center" *ngFor="let contentGroup of contentGroups" (click)="viewContents(contentGroup)">
    <h3 matBadge="{{contentGroup.contentIds.length}}" matBadgeOverlap="false"
                    *ngIf="!(contentGroup.name === 'Default')">
      {{contentGroup.name}}
    </h3>
</mat-card>
