#contentGroup {
  background-color: var(--background) !important;
  overflow: hidden;
  position: relative;
  top: 0;
  text-align: center;
  transition: all 150ms;
  margin-top: 10px;
  height: 60px;
  padding: 5px;

  &:hover {
    cursor: pointer;
    transform: scale(1.001);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
}

.mat-badge-medium.mat-badge-after .mat-badge-content {
  right: -30px;
}

h3 {
  margin-left: 3%;
}
