<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <mat-card *ngIf=" !isLoading && room">
      <div fxLayout="row">
        <span *ngIf="!noGroups" class="corner-icons"></span>
        <span class="fill-remaining-space"></span>
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title fxLayoutAlign="center">
            {{ room.name }}
          </mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center">
            <span class="room-short-id">
              {{ room.shortId.slice(0, 4) }} {{  room.shortId.slice(4, 8) }}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button *ngIf="!noGroups" class="corner-icons"
                (click)="navToStats('participant')">
          <mat-icon id="stat-icon" matTooltip="{{ 'statistic.answer-statistic' | translate}}">insert_chart</mat-icon>
        </button>
      </div>
      <mat-card-content *ngIf="room.description" fxLayoutAlign="center">
        <markdown [data]="room.description.trim()"></markdown>
      </mat-card-content>
      <mat-grid-list cols="2" rowHeight="1:1" [ngClass]="{'big-container': deviceWidth >= 500}">
        <mat-grid-tile>
          <button id="question_answer-button" mat-icon-button class="main-button"
                  [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                  routerLink="/participant/room/{{ room.shortId }}/comments" aria-labelledby="question_answer">
            <mat-icon matBadge="{{commentCounter}}" matBadgeColor="primary" class="main-icon"
                      [ngClass]="{'desktop' : deviceWidth > 500}">question_answer
            </mat-icon>
            <h3 *ngIf="deviceWidth >= 320" class="button-text">{{ 'room-page.comments' | translate}}</h3>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-icon-button class="main-button"
                  [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                  routerLink="/participant/room/{{ room.shortId }}/feedback-barometer">
            <mat-icon class="main-icon" [ngClass]="{'desktop' : deviceWidth > 500}">thumbs_up_down</mat-icon>
            <h3 *ngIf="deviceWidth >= 320" class="button-text">{{ 'room-page.live-feedback' | translate}}</h3>
          </button>
        </mat-grid-tile>
      </mat-grid-list>

      <app-content-groups *ngIf="room && contentGroups" [contentGroups]="contentGroups"></app-content-groups>
    </mat-card>

  </div>
  <button id="live_announcer-button" tabIndex="-1" (click)="announce()"
          class="visually-hidden">{{ 'room-page.live-announcer' | translate }}</button>
</div>

<div class="visually-hidden">
  <div id="question_answer">{{'room-page.a11y-question_answer' | translate}}</div>
  <!--<div id="announcer_text">{{'room-page.a11y-announcer' | translate}}</div>-->
</div>
