.mat-column-checked {
  display: flex;
  justify-content: flex-end;
  max-width: 30px;
}

mat-row {
  background-color: var(--dialog);
  border-color: var(--dialog);
}

mat-cell {
  padding-left: 0 !important;
  padding-right: 10px !important;
}
