<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
  <mat-form-field>
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()" matInput
           [(ngModel)]="content.subject" maxlength="40" placeholder="{{'content.subject' | translate}}" name="subject"/>
  </mat-form-field>
  <mat-form-field>
    <textarea (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()" matInput
              [(ngModel)]="content.body" rows="3" maxlength="250" placeholder="{{'content.body' | translate}}"
              name="body"></textarea>
  </mat-form-field>
  <h4>{{'content.answers' | translate}}</h4>
  <mat-table [dataSource]="displayAnswers">
    <ng-container matColumnDef="label">
      <mat-cell *matCellDef="let answer">
        <mat-form-field class="input-block">
          <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
                 matInput [(ngModel)]="answer.answerOption.label" maxlength="50" name="answer"/>
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="checked">
      <mat-cell *matCellDef="let answer; let i = index">
        <mat-checkbox color="accent" [(ngModel)]="answer.correct"
                      [checked]="answer.correct" (ngModelChange)="updateAnswer(i)"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <button (click)="dialogRef.close('abort')" mat-button>
      {{ 'room-page.abort' | translate }}
    </button>
    <button (click)="updateContent()" mat-raised-button class="button-primary">
      {{ 'room-page.update' | translate }}
    </button>
  </div>
</div>
