mat-form-field.input-block {
  display: block;
}

.mat-fab .mat-button-wrapper {
  padding: 0 !important;
}

.mat-dialog-container {
  background-color: var(--dialog);
}

.mat-tab-header {
  border-bottom-style: none !important;
}

.snackbar {
  background-color: var(--dialog);
  color: var(--on-surface);
}

.snackbar button {
  color: var(--secondary);
}

.mat-input-element {
  caret-color: var(--on-surface);
}
