<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card>
    <div fxLayout="row">
      <div class="cardTitle">
        <h2 *ngIf="!isTitleEdit" [style.fontSize.px]=10>{{ collectionName }}</h2>
        <mat-form-field class="mat-focused" [ngClass]="{'activeInput': isTitleEdit, 'inactiveInput': !isTitleEdit}">
          <input #nameInput matInput maxlength="25" [(ngModel)]="updatedName">
        </mat-form-field>
      </div>
      <span class="fill-remaining-space"></span>
      <div *ngIf="allowEditing">
        <button *ngIf="!isTitleEdit" mat-icon-button class="editButtons" (click)="goInEditMode()"
                matTooltip="{{ 'content.edit-content-group' | translate}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="isTitleEdit" mat-icon-button class="editButtons" (click)="leaveEditMode()"
                matTooltip="{{ 'content.abort' | translate}}">
          <mat-icon>clear</mat-icon>
        </button>
        <button *ngIf="isTitleEdit" mat-icon-button class="editButtons" (click)="saveGroupName()"
                matTooltip="{{ 'content.save-content-group' | translate}}">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </div>
    <mat-grid-list cols="3" rowHeight="1:1" *ngIf="!isLoading">
      <mat-grid-tile>
        <button class="actionButton" mat-icon-button
                routerLink="/creator/room/{{ room.shortId }}/create-content">
          <mat-icon class="actionIcon">note_add</mat-icon>
          <h3 *ngIf="deviceType === 'desktop'">{{ 'room-page.create-content' | translate}}</h3>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="actionButton" mat-icon-button
                routerLink="/creator/room/{{ room.shortId }}/{{ contentGroup.name }}/presentation">
          <mat-icon class="actionIcon">school</mat-icon>
          <h3 *ngIf="deviceType === 'desktop'">{{ 'room-page.present' | translate}}</h3>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="actionButton" mat-icon-button
                routerLink="/creator/room/{{ room.shortId }}/statistics">
          <mat-icon class="actionIcon">insert_chart</mat-icon>
          <h3 *ngIf="deviceType === 'desktop'">{{ 'room-page.answer-statistics' | translate}}</h3>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-card-content>
      <app-loading-indicator *ngIf="isLoading" [size]="50"></app-loading-indicator>
      <div *ngIf="!isLoading" fxLayout="row" fxLayoutAlign="end">
        <p class="slide-text">{{ 'content.answers-direct' | translate}}
          <mat-slide-toggle class="lock" (change)="toggleDirectAnswers()" [(ngModel)]="directAnswer"></mat-slide-toggle>
        </p>
        <p class="slide-text">{{ 'content.unlock-questions' | translate}}
          <mat-slide-toggle class="lock" (change)="lockContents()" [(ngModel)]="unlocked"></mat-slide-toggle>
        </p>
      </div>
      <mat-expansion-panel *ngFor="let content of contents; index as i" class="matPanel">
        <mat-expansion-panel-header class="matPanelListHeader">
          <mat-panel-title class="panelTitle">
            {{ labels[i] }}
          </mat-panel-title>
          <button mat-icon-button (click)="toggleDirectAnswer(content);$event.stopPropagation()"
                  matTooltip="{{(content.state.responsesVisible ? 'content.answer-hide' : 'content.answer-direct') | translate}}">
            <mat-icon class="lock-icon" [ngClass]="{'locked': !content.state.responsesVisible,
            'unlocked': content.state.responsesVisible}">{{content.state.responsesVisible? 'flash_on' : 'flash_off'}}
            </mat-icon>
          </button>
          <button mat-icon-button (click)="lockContent(content);$event.stopPropagation()"
                  matTooltip="{{(content.state.visible ? 'content.lock-question' : 'content.unlock-question') | translate}}">
            <mat-icon class="lock-icon" [ngClass]="{'locked': !content.state.visible, 'unlocked': content.state.visible}">
              {{!content.state.visible? 'lock' : 'lock_open'}}
            </mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="moreActions" (click)="$event.stopPropagation()"
                  class="editButton" matTooltip="{{ 'content.more-options' | translate}}">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #moreActions="matMenu" xPosition="before">
            <button mat-menu-item (click)="editContent(content)">
              <mat-icon>edit</mat-icon>
              <span> {{ 'content.edit-content' | translate}}</span>
          </button>
            <button mat-menu-item [matMenuTriggerFor]="chooseGroups">
              <mat-icon>library_add</mat-icon>
              <span>{{ 'content.add-content-to-group' | translate}}</span>
            </button>
            <button mat-menu-item (click)="deleteContent(content)">
              <mat-icon class="delete">delete_forever</mat-icon>
              <span>{{ 'content.delete-content' | translate}}</span>
            </button>
          </mat-menu>

          <mat-menu #chooseGroups="matMenu" xPosition="before">
            <button mat-menu-item *ngFor="let cg of contentGroups; index as i" [disabled]="i === currentGroupIndex"
                    (click)="addToContentGroup(content.id, cg, false)">
              <span>{{ cg }}</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="showContentGroupCreationDialog(content.id)">
              <mat-icon>add</mat-icon>
              <span>{{ 'content.new-content-group' | translate}}</span>
            </button>
          </mat-menu>

        </mat-expansion-panel-header>
        <mat-panel-description class="panelTitle">
          {{ content.body }}
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
