<div fxLayout="column">
  <app-room-join></app-room-join>
  <div fxLayout="row" fxLayoutAlign="center">
    <button class="button-primary" mat-raised-button (click)="openCreateRoomDialog()" id="create_session-button">
      <mat-icon>add</mat-icon>
      {{ 'home-page.create-session' | translate }}
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
    <app-room-list [user]="user"></app-room-list>
  </div>
  <button id="live_announcer-button" tabIndex="-1" (click)="announce()"
          class="visually-hidden">{{ 'home-page.live-announcer-user' | translate }}</button>
</div>
