.container {
  height: 100%;
}

.heading {
  height: 40%;
}

.main-heading-primary {
  display: block;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  letter-spacing: 7px;
  color: var(--secondary);
  animation: moveInLeft 2s ease-out;
  padding-top: 10px;
}

.main-heading-secondary {
  display: block;
  font-weight: normal;
  font-size: 60%;
  text-align: center;
  color: var(--on-background);
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.mat-button {
  font-size: 16px;
  margin-top: 20%;
  color: var(--secondary);
}

.add {
  color: var(--secondary);
}
