<div fxLayout="column" class="container">
  <div class="heading" fxLayoutAlign="center center">
    <h1>
      <span class="main-heading-secondary" aria-hidden="true">{{ 'login.welcome' | translate }}</span>
      <span class="main-heading-primary">ARSnova</span>
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxLayout="column" fxLayoutAlign="center center" fxFill>
            <app-room-join></app-room-join>
            <button [disabled]="cookiesDisabled()" mat-button (click)="openCreateRoomDialog()"
                    aria-labelledby="create-label">
              <mat-icon class="add">add</mat-icon>
              {{'home-page.create-session' | translate}}
            </button>

            <div class="visually-hidden">
              <div id="create-label">{{ 'home-page.accessibility-create' | translate}}</div>
            </div>
          </div>
        </div>
  </div>
  <button id="live_announcer-button" tabIndex="-1" (click)="announce()"
          class="visually-hidden">{{ 'home-page.live-announcer' | translate }}</button>
</div>
