<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card>
      <mat-card-header *ngIf="!isLoading">
        <mat-card-title>
          <h3>{{content.body}}</h3>
        </mat-card-title>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button disableRipple *ngIf="correctAnswers" (click)="switchAnswers(showsCorrect)"
                matTooltip="{{ 'statistic.answer-indicator' | translate }}">
          <mat-icon>playlist_add_check</mat-icon>
        </button>
      </mat-card-header>
      <app-statistic-choice *ngIf="!isLoading && content.format !== 'TEXT'" [content]="content"
                            [survey]="!correctAnswers"></app-statistic-choice>
      <app-statistic-text *ngIf="!isLoading && content.format === 'TEXT'" [content]="content"></app-statistic-text>
    </mat-card>
  </div>
</div>
