<div *ngIf="!isLoading">
  <div *ngFor="let setting of settings">
    <app-settings [settings]="setting" [room]="room">
    </app-settings>
  </div>
</div>
<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
