<app-loading-indicator *ngIf="isLoading" [size]="80"></app-loading-indicator>

<div *ngIf="!isLoading" aria-labelledby="sessionHistoryLabel{{this.rooms.length}}">
  <div *ngIf="!isLoading && roomsWithRole.length === 0" aria-labelledby="emptySessionHistoryLabel">
    <h3>{{ 'room-list.no-room-history' | translate }}</h3>
  </div>
  <div *ngIf="roomsWithRole">
    <mat-form-field *ngIf="this.rooms && this.rooms.length > 10" class="filterWrapper">
      <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()" matInput
             #search (keyup)="filterRooms(search.value)"/>
      <mat-placeholder>{{ 'room-list.filter-message' | translate }}</mat-placeholder>
    </mat-form-field>
    <mat-card *ngIf="roomsWithRole.length > 0">
      <mat-list>
        <mat-list-item fxLayout="column" fxLayoutAlign="center" *ngFor="let room of displayRooms; let i = index"
                       [ngSwitch]="room.role" tabindex="0">
          <div fxLayout="row" class="container">
            <div fxLayout="row" fxLayoutAlign="center center" class="container inner"
                 (click)="setCurrentRoom(room.shortId, room.role)">
              <p matBadge="{{room.commentCount > 0 && deviceType === 'desktop' ? room.commentCount : null}}"
                 matBadgeOverlap="false">{{room.name}}</p>
              <span class="fill-remaining-space" (click)="setCurrentRoom(room.shortId, room.role)"></span>
              <p class="short-id">{{room.shortId}}</p>
              <mat-icon mat-list-icon *ngSwitchCase="creatorRole"
                        matTooltip="{{ 'room-list.creator-role' | translate }}"
                        title="{{ 'room-list.creator-role' | translate }}">
                record_voice_over
              </mat-icon>
              <mat-icon mat-list-icon *ngSwitchCase="participantRole"
                        matTooltip="{{ 'room-list.participant-role' | translate }}"
                        title="{{ 'room-list.participant-role' | translate }}">
                people
              </mat-icon>
              <mat-icon mat-list-icon *ngSwitchCase="executiveModeratorRole"
                        matTooltip="{{ 'room-list.executive-moderator-role' | translate }}"
                        title="{{ 'room-list.executive-moderator-role' | translate }}">
                gavel
              </mat-icon>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-icon-button [matMenuTriggerFor]="moreActions"
                      matTooltip="{{ 'room-list.more-options' | translate }}">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #moreActions="matMenu" xPosition="before">
                <button mat-menu-item (click)="openRemoveDialog(room)">
                  <mat-icon class="delete">delete_forever</mat-icon>
                  <span class="delete-text"> {{ (room.role < 3 ? 'room-list.panel-remove-room' :
                    'room-list.panel-delete-room') | translate}}</span>
                </button>
                <button mat-menu-item *ngIf="room.role === 3" (click)="navToSettings(room.shortId)">
                  <mat-icon>settings</mat-icon>
                  <span class="delete-text"> {{ 'room-list.room-settings' | translate }}</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <mat-divider *ngIf="i < displayRooms.length - 1"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>

<div class="visually-hidden">
  <div id="emptySessionHistoryLabel">{{ 'room-list.no-room-history' | translate }}</div>
  <div id="sessionHistoryLabel">
    {{ 'room-list.session-history-label' | translate }}
    {{ 'room-list.session-history' | translate:{count: this.rooms.length} }}
    {{ 'room-list.filter' | translate }}
  </div>
  <div id="empty"></div>
</div>
