<div id="demoContent" tabindex="3">
  <h2>»Do you have any questions?«</h2>

  <p>
    The classical lecture usually ends with: »Do you have any questions?« And always nobody answers or the same few
    ask. Either nobody dares to ask questions in the large lecture hall or the questions one actually wanted to ask in
    the course of the lecture are forgotten.
  </p>

  <p>
    Those who want their lecture to be reflected upon and questioned need a tool for anonymously asking questions. Such
    an <a href="https://gitlab.com/arsnova/arsnova-webclient" target="_blank">Open Source</a> tool is available free of
    charge with »ARSnova«. Are there any concerns? Is the tool accessible, compliant with the data protection
    regulations, immediately usable with any end device without any training or technical understanding? Three times yes.
  </p>

  <p>
    To avoid abuse, the list of questions can be moderated live by an assistant: Only lecture-adequate
     Questions remain on the list. You can also automatically move all new questions to the moderation:
     They won't become public until you release them one by one.
  </p>

  <p>
    But I cannot answer all questions in the last ten minutes of my lecture. Sure. This is where the collective tool
    aspect comes into play: Everyone in the audience can rate every question, in other words: to vote up or down. You
    can
    answer the questions most highly rated by the auditorium immediately, the others, if you wish, later in the course
    forum of the learning platform.</p>

  <h2>Live Assessment</h2>

  <p>
    Not only the participants have the opportunity to ask questions . The lecturer can also ask knowledge questions or
     general surveys to the audience and follow their results live. In this way the current learning status of a course
     can be determined and you will be made aware of any difficulties of the students at an early stage. Students can
     also get an overview of their knowledge based on their answers.
    </p>

  <p>
    Various question formats such as multiple/single choice, yes/no, Likert or free text are available for writing
     questions to the auditorium.
  </p>

  <p>
    The students' results are visualized by diagrams and can be viewed per collection of questions or individually for
    each question.
  </p>

  <p>
    By involving the listeners more closely, they are encouraged to participate actively. In addition, their attention
     is increased, as they are motivated to answer the upcoming questions correctly.
  </p>

  <h2>Live Feedback</h2>

  <p>
    If you want to know how well an auditorium can follow you in your presentation, use the live feedback. With the
     choice of one of 4 smileys, the participants can evaluate the current tempo of the presentation and you have the
     possibility to adjust it afterwards.
  </p>

  <h2>What's so special about »ARSnova«?</h2>

  <p>
    The Lecturer can award bonus points for goal-oriented and lecture-appropriate questions.
    Awarded questions receive a star and the student finds an 8-digit number code (»token«) for each star on the session
    account.
  </p>

  <p>
    Lecturers and moderators can affirm, deny and answer questions in writing.
  </p>

  <p>
    The Lecturer can define categories (tags) for questions. The student can tag his or her question with one of the
    predefined categories. Categorized questions can be filtered by clicking the tag.
  </p>

  <p>
    Any number of sessions can be created free of charge as a guest or registered user. Only the sessions of registered
    users remain permanently. Only 180 days after the last use of a session it will be deleted automatically.
  </p>

  <p>
    »ARSnova« can be used completely anonymously when registering as a guest. The accounts of registered users are
    stored and managed in accordance with the data protection regulations of the DSGVO. The program code is »Open Source
    Software« and can be viewed on GitLab. »ARSnova« is operated as free »Software as a Service« by Particify, see
    imprint.
  </p>

  <p>
    »ARSnova« was optimized for accessibility with a screen reader and exclusive keyboard control. The user interface
    meets the requirements of WCAG 2.1 AA. Appropriate display options (»themes«) are available for beamer presentations
    in large lecture halls and for the visually impaired. In particular, the font size of the questions can be scaled at
    will.
  </p>

  <h2>»ARSnova« in presentations</h2>

  <p>
    With the free add-in <a href="https://www.liveslides.com/download" target="_blank">LiveSlides</a>
    you can include »ARSnova« in your Keynote or PowerPoint presentation with a single click.
    The cumbersome switch between presentation and browser is no longer necessary.
    With LiveSlides you integrate »ARSnova« into the sequence of your slides.
    In this way, you never miss the didactically right moment for an audience survey.
    A note for Mac users: In a Keynote presentation, the mouse pointer is hidden by default.
    You can change this in the <a href="https://www.liveslides.com/faq/mouse-pointer-does-not-appear-in-keynote"
                                  target="_blank">settings of Keynote</a>.
  </p>

  <h2>Feedback to the developers</h2>

  <p>
    Use session key 11 22 33 44 for feedback and questions to the developers.
    We welcome suggestions for improvement and answer questions in the session promptly.
  </p>

</div>
