<div id="demoContent" tabindex="3">
  <h2>»Haben Sie Fragen?«</h2>

  <p>
    Die klassische Vorlesung endet in der Regel mit: »Haben Sie Fragen?«. Und stets meldet sich niemand oder es fragen
    immer dieselben wenigen. Entweder traut sich im großen Hörsaal niemand oder die Fragen, die man im Verlauf der
    Vorlesung eigentlich stellen wollte, sind vergessen.
  </p>

  <p>
    Wem daran liegt, dass seine Vorlesung reflektiert und
    hinterfragt wird, braucht ein Tool zum anonymen stillen Fragenstellen.
    Das kostenlose <a href="https://gitlab.com/arsnova/arsnova-webclient" target="_blank"> Open-Source-Tool</a>
    »ARSnova« bietet eine solche Funktionalität. Gibt es Bedenken? Ist das Tool barrierefrei, daten&shy;schutz&shy;kon&shy;form,
    sofort ohne Einarbeitung und ohne technisches Verständnis mit jedem Endgerät nutzbar? Dreimal ja.
  </p>

  <p>
    Um Missbrauch zu vermeiden kann die Fragenliste von einer Hilfskraft live moderiert werden: Nur vorlesungsadäquate
    Fragen verbleiben auf der Liste. Außerdem kannst du alle neuen Fragen automatisch in die Moderation verschieben:
    Sie werden erst öffentlich, wenn du sie einzeln freigibst.
  </p>

  <p>
    Damit du nicht mit Fragen überhäuft wirst, können die Teilnehmer Fragen bewerten, neudeutsch: up und down voten. So
    kannst du die wichtigsten Fragen erkennen und direkt auf sie eingehen. Weitere Fragen kannst du auch nach der
    Veranstalttung noch schriftlich in der App beantworten.
  </p>

  <h2>Live Assessment</h2>

  <p>
    Nicht nur die Teilnehmenden haben die Möglichkeit Zwischenfragen zu stellen. Auch der Vortragende kann sich mit
    Wissensfragen oder generellen Umfragen an das Auditorium wenden und dessen Ergebnisse live verfolgen. So kann der
    aktuelle Lernstand eines Kurses ermittelt werden und du wirst frühzeitig auf Schwierigkeiten der Studierenden
    aufmerksam gemacht. Ebenso können sich die Studierenden anhand ihrer Antworten einen Überblick über ihren
    Wissensstand verschaffen.
  </p>

  <p>
    Für das Verfassen von Fragen an das Auditorium stehen verschiedene Frageformate wie Multiple-/Single-Choice,
     Ja/Nein, Likert oder auch Freitext zur verfügung.
  </p>

  <p>
    Die Ergebnisse der Studierenden werden durch Diagramme visualisiert und können pro Fragensammlung oder auch für
     jede Frage einzeln betrachtet werden.
  </p>

  <p>
    Durch das stärkere Einbinden der Zuhörer werden diese zur aktiven Mitarbeit angeregt. Zusätzlich erhöht sich ihre
     Aufmerksamkeit, da sie motiviert sind die kommenden Fragen richtig zu beantworten.
  </p>

  <h2>Live Feedback</h2>

  <p>
    Wenn du wissen möchtest wie gut dir ein Auditorium in deinem Vortrag folgen kann, nutzen sie das live Feedback.
     Mit der Auswahl von einem von 4 Smileys können die Teilnehmenden das aktuelle Tempo des Vortrags bewerten und du
     hast die Möglichkeit danach anzupassen.
  </p>

  <h2>Das Besondere an »ARSnova«</h2>

  <p>
    Für zielführende und vorlesungsadäquate Fragen kann die Lehrperson Bonuspunkte vergeben.
    Prämierte Fragen erhalten ein Stern-Icon und die Studentin oder der Student findet zu jedem erworbenen Stern
    einen 8-ziffrigen Code (»Token«) auf dem Sitzungskonto.
  </p>

  <p>
    Dozenten und Moderatoren können Fragen bejahen, verneinen sowie schriftlich beantworten.
  </p>

  <p>
    Der Dozent kann Kategorien (»Tags«) für Fragen definieren.
    Der Student kann seine Frage mit einer der vorgegebenen Kategorien versehen (»taggen«).
    Kategorisierte Fragen können durch Klicken des »Tags« gefiltert werden.
  </p>

  <p>
    Es können beliebig viele Sitzungen kostenlos als Gast oder registrierter User erstellt werden.
    Nur die Sitzungen registrierter User bleiben dauerhaft erhalten.
    Erst 180 Tage nach der letzten Nutzung einer Sitzung wird diese automatisch gelöscht.
  </p>

  <p>
    »ARSnova« kann bei einer Anmeldung als Gast vollständig anonym verwendet werden.
    Die Konten registrierter User werden datenschutzkonform nach den Vorgaben der DSGVO gespeichert und verwaltet.
    Der Programmcode ist »Open Source Software« und kann auf GitLab eingesehen werden.
    »ARSnova« wird als kostenlose »Software as a Service« von Particify betrieben, siehe Impressum.
  </p>

  <p>
    »ARSnova« wurde für die barrierefreie Nutzung mit einem Screen Reader und die ausschließliche Steuerung mit der
    Tastatur optimiert.
    Die Benutzerschnittstelle genügt den Anforderungen gemäß WCAG 2.1 AA.
    Für die Beamer-Präsentation in großen Hörsälen und für Sehbehinderte stehen entsprechende Anzeigeoptionen (»Themes«)
    zur Verfügung.
    Insbesondere kann die Schriftgröße der Fragen beliebig skaliert werden.
  </p>

  <h2>»ARSnova« in Präsentationen</h2>

  <p>
    Mit dem kostenlosen Add-in <a href="https://www.liveslides.com/download" target="_blank">LiveSlides</a>
    kannst du »ARSnova« mit einem Klick in deine Keynote- oder PowerPoint-Präsentation als »Live-Folie« einbinden.
    Der umständliche Wechsel zwischen Präsentation und Browser entfällt.
    Mit LiveSlides integrierst du »ARSnova« in die Abfolge deiner Folien.
    Auf diese Weise verpasst du nie den didaktisch richtigen Moment für eine Publikumsbefragung.
    Ein Hinweis für Mac-User: In einer Keynote-Präsentation ist der Mauszeiger standardmäßig verborgen.
    Das kannst du leicht in den <a href="https://www.liveslides.com/faq/mouse-pointer-does-not-appear-in-keynote"
                                   target="_blank">Einstellungen von Keynote</a> ändern.
  </p>

  <h2>Feedback an die Entwickler</h2>

  <p>
    Verwende den Sitzungs-Code 11 22 33 44 für Feedback und Fragen an die Entwickler.
    Wir freuen uns über Verbesserungsvorschläge und beantworten Fragen in der Session zeitnah.
  </p>

  <h2>»Gender«-gerechte Sprache</h2>

  <p>
    Screen Reader für Sehbehinderte und Blinde,
    wie <a
    href="https://chrome.google.com/webstore/detail/chromevox-classic-extensi/kgejglhpjiefppelpmljglcjbhoiplfn?hl=de"
    target="_blank">ChromeVox</a>
    (»ARSnova« wurde hierfür optimiert)
    oder <a href="https://www.nvaccess.org/" target="_blank">NVDA</a>,
    sprechen »gegenderte« Nomen unverständlich aus.
    Wir verwenden deshalb das <a href="https://de.wikipedia.org/wiki/Generisches_Maskulinum" target="_blank"
                                 rel="noreferrer">Generische
    Maskulinum</a> für Texte und Labels in der App.
  </p>

</div>
