mat-card {
  width: 100%;
  min-height: 380px;
}

.main-button {
  width: 90%;
  height: 100%;
  color: var(--primary);
  transition: all 150ms;
  &.mat-focus-indicator {
    border-radius: 0;
  }
}

.hover {
  &:hover {
    transform: scale(1.1)
  }
}

.main-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
}

.desktop {
  font-size: 70px;
  height: 70px;
  width: 70px;
  margin-bottom: 5%;
}

.corner-icons {
  width: 40px;
  height: 40px;
  margin-bottom: 5%;
}

.corner-icon {
  color: var(--secondary);
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.room-short-id {
  opacity: 0.8;
  font-size: calc(16px + 0.4vw);
  color: var(--on-surface);
  margin-top: 3%;
}

.button-text {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 3% 0;
}

.small-text {
  font-size: 16px;
}

.big-container {
  min-height: 160px;
}

mat-grid-list {
  width: 100%;
  min-height: 120px;
  padding: 0 !important;
  margin: 2% 0;
  &:last-of-type {
    margin-bottom: 5%;
  }
}

mat-card-header {
  margin: 5% 0;
}

mat-card-title {
  word-break: break-all;
  font-size: calc(16px + 1vw) !important;
}

mat-grid-tile {
  width: calc(50% - 16px) !important;
  height: 100% !important;
  padding: 2% !important;
}

.gavel {
  margin: 5% 2% 0 0;
  color: var(--on-surface);
}

.question-button-div {
  margin: 5% 0;
}
