<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <mat-card *ngIf="!isLoading && room">
      <div fxLayout="row">
        <span class="corner-icons"></span>
        <span class="fill-remaining-space"></span>
        <mat-card-header fxLayoutAlign="center" fxLayout="row">
          <mat-card-title fxLayoutAlign="center">
            {{ room.name }}
          </mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center">
            <span class="room-short-id">
              {{ room.shortId.slice(0, 4) }} {{  room.shortId.slice(4, 8) }}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
        <span class="fill-remaining-space"></span>
        <div fxLayout="column">
          <button mat-icon-button class="corner-icons" aria-labelledby="settings" routerLink="settings">
            <mat-icon class="corner-icon" matTooltip="{{ 'room-page.session-settings' | translate}}">settings</mat-icon>
          </button>
          <button mat-icon-button class="corner-icons" [ngClass]="{'disabled': noGroups}"
                  (click)="navToStats('creator')">
            <mat-icon class="corner-icon" matTooltip="{{ 'room-page.answer-statistics' | translate}}">insert_chart
            </mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content *ngIf="room.description" fxLayoutAlign="center">
        <markdown [data]="room.description.trim()"></markdown>
      </mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center">
          <mat-grid-list *ngIf="viewModuleCount > 1" cols="2" rowHeight="{{deviceWidth > 500 ? '2:1' : '3:2'}}"
                         [ngClass]="{'big-container': deviceWidth >= 500}">
            <mat-grid-tile>
              <button id="question_answer-button" mat-icon-button class="main-button"
                      [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                      routerLink="/creator/room/{{ room.shortId }}/comments" aria-labelledby="question_answer">
                <mat-icon matBadge="{{commentCounter}}" class="main-icon"
                          [ngClass]="{'desktop' : deviceWidth > 500}">question_answer
                </mat-icon>
                <p class="button-text" [ngClass]="{'small-text': deviceWidth < 350}">
                  {{ 'room-page.comments' | translate}}</p>
              </button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="moderationEnabled">
              <button id="gavel-button" mat-icon-button class="main-button"
                      [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                      routerLink="/moderator/room/{{ room.shortId }}/moderator/comments" aria-labelledby="gavel">
                <mat-icon matBadge="{{moderatorCommentCounter}}" class="main-icon"
                          [ngClass]="{'desktop' : deviceWidth > 500}">gavel
                </mat-icon>
                <p class="button-text" [ngClass]="{'small-text': deviceWidth < 350}">
                  {{ 'room-page.moderating-stream' | translate}}</p>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
          <div fxLayout="row" fxLayoutAlign="center" *ngIf="viewModuleCount <= 1" class="question-button-div">
            <button id="question_answer-button2" mat-icon-button class="main-button"
                    [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                    routerLink="/creator/room/{{ room.shortId }}/comments" aria-labelledby="question_answer">
              <mat-icon matBadge="{{commentCounter}}" class="main-icon"
                        [ngClass]="{'desktop' : deviceWidth > 500}">question_answer</mat-icon>
              <p class="button-text" [ngClass]="{'small-text': deviceWidth < 350}">
                {{ 'room-page.comments' | translate}}</p>
            </button>
          </div>
          <mat-grid-list cols="2" rowHeight="{{deviceWidth > 500 ? '2:1' : '3:2'}}"
                         [ngClass]="{'big-container': deviceWidth >= 500}">
            <mat-grid-tile>
              <button mat-icon-button class="main-button"
                      [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                      routerLink="/creator/room/{{ room.shortId }}/create-content">
                <mat-icon class="main-icon" [ngClass]="{'desktop' : deviceWidth > 500}">note_add</mat-icon>
                <p class="button-text" [ngClass]="{'small-text': deviceWidth < 350}">
                  {{ 'room-page.create-content' | translate}}</p>
              </button>
            </mat-grid-tile>
            <mat-grid-tile>
              <button mat-icon-button class="main-button"
                      [ngClass]="{'hover': deviceWidth > 500}" [disableRipple]="true"
                      routerLink="/creator/room/{{ room.shortId }}/feedback-barometer">
                <mat-icon class="main-icon" [ngClass]="{'desktop' : deviceWidth > 500}">thumbs_up_down
                </mat-icon>
                <p class="button-text" [ngClass]="{'small-text': deviceWidth < 350}">
                  {{ 'room-page.live-feedback' | translate}}</p>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
      </div>
      <app-content-groups *ngIf="room && contentGroups" [contentGroups]="contentGroups"></app-content-groups>
    </mat-card>
    <div *ngIf="!isLoading && !room">{{ 'room-page.room-not-found' | translate }}</div>
  </div>
  <button id="live_announcer-button" tabIndex="-1" (click)="announce()"
          class="visually-hidden">{{ 'room-page.live-announcer' | translate }}</button>
</div>

<div class="visually-hidden">
  <div id="question_answer">{{'room-page.a11y-question_answer' | translate}}</div>
  <div id="gavel">{{'room-page.a11y-gavel' | translate}}</div>
  <div id="settings">{{'room-page.a11y-settings' | translate}}</div>
  <div id="insert_comment">{{'room-page.a11y-insert_comment' | translate}}</div>
  <div id="person">{{'room-page.a11y-person' | translate}}</div>
</div>
