<div>
  <mat-list>
    <mat-list-item *ngFor="let answer of answers">
      <span class="answer">{{answer.answer}}</span>
      <span class="count">x {{answer.count}}</span>
    </mat-list-item>
  </mat-list>
</div>
