
<ars-style-typography-material>
  <ars-screen ars-flex-box>
    <ars-row [height]="1"></ars-row>
    <ars-fill [overflow]="'hidden'">
      <ars-resp ars-scroll [width]="750" [margin]="30">

        <ars-row [height]="300"></ars-row>

        <!-- typo-lead-h to typo-lead-p  -->

        <h1 class="typo-lead-h space-lead-p">
          Roboto Typography
        </h1>
        <p class="typo-lead-p">
          Roboto is a neo-grotesque sans-serif typeface family developed by Google.
        </p>

        <ars-row [height]="160"></ars-row>

        <!-- typo-lead-h to typo-page-p -->

        <h1 class="typo-lead-h space-page-p">
          Roboto (/roʊˈbɒt.oʊ/)
        </h1>
        <p class="typo-page-p space-page-p">
          Roboto is the default font on Android, and since 2013, other Google services such as
          Google+, Google Play, YouTube, Google Maps, and mobile Google Search.
        </p>
        <p class="typo-page-p space-page-p">
          In 2017 Roboto was used on the LCD countdown clocks of the New York City Subway's B
          Division lines.
        </p>
        <p class="typo-page-p space-page-p">
          Roboto Bold is the default font in Unreal Engine 4, and in Kodi. Roboto Condensed is used
          to display Information on European versions of Nintendo Switch packaging, including
          physical releases of games.
        </p>

        <ars-row [height]="160"></ars-row>

        <!-- typo-main-h to typo-page-p -->

        <h1 class="typo-main-h space-page-p">
          Development
        </h1>
        <p class="typo-page-p space-page-p">
          The font was designed entirely in-house by Christian Robertson who previously had released
          an expanded Ubuntu-Title font through his personal type foundry Betatype. The font was
          officially made available for free download on January 12, 2012, on the newly launched
          Android Design website.
        </p>
        <p class="typo-page-p">
          Compared to Android's previous system font, the humanist sans-serif Droid, Roboto belongs
          to the neo-grotesque genre of sans-serif typefaces. It includes Thin, Light, Regular,
          Medium, Bold and Black weights with matching oblique styles rather than true italics. It
          also includes condensed styles in Light, Regular and Bold, also with matching oblique
          designs.
        </p>

        <ars-row [height]="160"></ars-row>

        <!-- typo-main-h to typo-page-p (with box at bottom) -->

        <h1 class="typo-main-h space-page-p">
          Redesign
        </h1>
        <p class="typo-page-p space-page-p">
          In 2014, Matias Duarte announced at Google I/O that Roboto was significantly redesigned for
          Android 5.0 "Lollipop".
        </p>
        <p class="typo-page-p space-page-p">
          Punctuation marks and the tittles in the lowercase "i" and "j" were changed from square to
          rounded, and the entire typeface was made “slightly wider and rounder” with many changes in
          details.
        </p>
        <ars-row [height]="200" style="background-color: rgba(0,0,0,0.1)"></ars-row>

        <ars-row [height]="160"></ars-row>

        <!-- typo-page-h to typo-page-p (with box at bottom) -->

        <h1 class="typo-page-h space-page-p">
          Reception
        </h1>
        <p class="typo-page-p space-page-p">
          Google developed the font to be "modern, yet approachable" and "emotional", but Roboto
          received mixed reviews on its release. Joshua Topolsky, Editor-In-Chief of technology news
          and media network The Verge, describes the font as<br>
          <i>"clean and modern, but not overly futuristic– not a science fiction font".</i>
        </p>
        <ars-row [height]="200" style="background-color: rgba(0,0,0,0.1)"></ars-row>

        <ars-row [height]="160"></ars-row>

        <!-- typo-page-h to typo-page-p -->

        <h1 class="typo-page-h space-page-p">
          Measurement from the baseline
        </h1>
        <p class="typo-page-p">
          Specify distances from UI elements from the baseline. Baseline values are
          software-agnostic, so they work in any design program, and work with the grid. On Android
          and iOS, code can be translated from baseline-relative specs into padding. For the web,
          automate the calculation using Sass or CSS.
        </p>

        <ars-row [height]="160"></ars-row>

      </ars-resp>
    </ars-fill>
    <ars-row [height]="1"></ars-row>
  </ars-screen>
</ars-style-typography-material>
