ars-screen {
  background-color: white;
}

.qr-container {
  height: 100%;
}

.header {
  position: absolute;
  top: 2em;
  max-height: 100px;
}

.exitBtn {
  right: 2em;
}

.copyBtn {
  left: 2em;
}

h2 {
  text-align: center;
  margin-bottom: 0;
  color: black;
}
