<div>
  <div style="position: relative; height: 60vh">
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <canvas id="chart"></canvas>
  </div>
</div>
<mat-list role="list">
  <mat-list-item role="listitem" [ngClass]="{'correct': colorLabel && checkIfCorrect(i)}"
                 *ngFor="let a of answerList; let i = index">
    <p class="label">{{a.label}} : {{a.answer}}</p>
  </mat-list-item>
</mat-list>
