mat-card {
  width: 100%;
  min-height: 270px;
}

.mat-icon-button {
  width: 100%;
  height: 100%;
  color: var(--primary);
  transition: all 150ms;
  &.mat-focus-indicator {
    border-radius: 0;
  }
}

.hover {
  &:hover {
    transform: scale(1.1)
  }
}

.main-icon {
  font-size: 70px;
  height: 70px;
  width: 70px;
}

.desktop {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

.button-text {
  padding: 0;
  margin: 3% 0;
}

.room-short-id {
  opacity: 0.8;
  font-size: calc(16px + 0.5vw);
  color: var(--on-surface);
  margin-top: 10%;
}

mat-card-header {
  margin: 5% 0;
}

mat-card-title {
  word-break: break-all;
  font-size: calc(16px + 1vw) !important;
}

mat-card-subtitle {
  height: 30%;
}

mat-grid-tile {
  height: 90%;
  min-height: 150px;
  padding-top: 2% !important;
}

.question-button-div {
  margin: 10% 0 10% 0;
}

markdown {
  margin: 0 3% 0 3% !important;
}
