<div class="visually-hidden" tabindex="0" id="selection" mat-dialog-title>
  <ng-container *ngIf="currentLang=='en'">You're on the ARSnova-introduction page. Press 1 to get information about the
    ARSnova project or 2 to repeat this dialog.
  </ng-container>
  <ng-container *ngIf="currentLang=='de'">Du befindest dich auf der ARSnova-Einführungsseite. Drücke die 1 um
    Informationen über das ARSnova-Projekt zu erhalten oder die 2 um diesen Dialog nocheinmal zu hören.
  </ng-container>
</div>

<h2 tabindex="0" mat-dialog-title>{{ 'introduction.title' | translate }}</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div id="setFocus" class="intro-text" tabindex="0">
    <app-demo-en *ngIf="currentLang=='en'"></app-demo-en>
    <app-demo-de *ngIf="currentLang=='de'"></app-demo-de>
  </div>
</mat-dialog-content>
<app-dialog-action-buttons
  buttonsLabelSection="introduction"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
></app-dialog-action-buttons>
