h2 {
  padding-top: 20px;
}

p {
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

ol {
  padding-left: 1em;
}

.intro-text {
  font-size: medium;
  color: var(--on-surface);
}

iframe {
  width: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#demoContentTranscript {
  height: 0;
  overflow: hidden;
}
