<div>
  <h2 tabindex="0" mat-dialog-title>{{ 'data-protection.title' | translate }}</h2>

  <mat-dialog-content tabindex="0">

    <div [innerHTML]="privacyContent"></div>

    <app-dialog-action-buttons
      buttonsLabelSection="imprint"
      [cancelButtonClickAction]="buildConfirmActionCallback()">
    </app-dialog-action-buttons>
  </mat-dialog-content>
</div>
