.buttons {
  margin: 20px 0;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

.answer {
  opacity: 0.7;
}

.text {
  margin: 20px 0 0 0;
  color: var(--primary);
}

.invisible {
  height: 0;
  transform: scale(0);
  text-align: center;
}

.visible {
  height: 32px;
  transition: 0.5s;
  transform: scale(1);
}

.markdown-container {
  margin: 16px 0;
}

.stat-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
  color: var(--secondary);
}
