<mat-card id="comment-card" [ngClass]="{'highlighted': comment.highlighted, '': !comment.highlighted}"
          [@slide]="slideAnimationState" (@slide.done)="changeSlideState()">
  <div fxLayout="column">
    <div fxLayout="row" class="comment-actions">
      <div class="date-container light">
        <div *ngIf="language === 'de'; else englishDate">
          {{comment.timestamp | date: ' HH:mm '}}
        </div>
        <ng-template class="date" #englishDate>
          {{comment.timestamp | date: 'h:mm a'}}
        </ng-template>
      </div>
      <button mat-icon-button *ngIf="comment.read" [disabled]="true" (click)="setRead(comment)">
        <mat-icon svgIcon="beamer" class="beamer-icon"
                  matTooltip="{{ 'comment-page.mark-read' | translate }}">
        </mat-icon>
      </button>
      <span class="fill-remaining-space"></span>

      <button mat-icon-button *ngIf="comment.answer && !inAnswerView" (click)="answerComment()"
              tabindex="0">
        <mat-icon class="answered-icon" matTooltip="{{(comment.answer ? 'comment-page.go-to-answer' :
        'comment-page.answer') | translate }}">comment
        </mat-icon>
      </button>

      <button mat-icon-button *ngIf="comment.correct === 1 && !moderator" [disabled]="isStudent"
              (click)="markCorrect(comment, 1)" tabindex="0"
              attr.aria-labelledby="comment_correct{{ comment.id }}">
        <mat-icon class="correct-icon" [matTooltip]="(comment.correct !== 1 ? 'comment-page.mark-correct' :
        'comment-page.mark-not-correct') | translate">check_circle
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="comment.correct === 2 && !moderator" [disabled]="isStudent"
              (click)="markCorrect(comment, 2)" tabindex="0"
              attr.aria-labelledby="comment_not_correct{{ comment.id }}">
        <mat-icon class="wrong-icon" [matTooltip]="(comment.correct != 2 ? 'comment-page.mark-wrong' :
        'comment-page.mark-not-wrong') | translate">cancel
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="comment.favorite && !moderator" [disabled]="isStudent"
              (click)="setFavorite(comment)" tabindex="0" attr.aria-labelledby="comment_grade{{ comment.id }}">
        <mat-icon class="favorite-icon" [matTooltip]="(!comment.favorite ? 'comment-page.mark-favorite' :
        'comment-page.mark-not-favorite') | translate">grade
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="(isCreator || isModerator) && !inAnswerView" [matMenuTriggerFor]="actionsMenu"
              tabindex="0">
        <mat-icon matTooltip="{{ 'comment-page.show-actions' | translate }}">more_horiz
        </mat-icon>
      </button>
      <mat-menu #actionsMenu="matMenu" xPosition="before">

        <button mat-menu-item (click)="answerComment()">
          <mat-icon class="answered-icon">comment</mat-icon>
          <span>{{ (!comment.answer ? 'comment-page.answer' : 'comment-page.go-to-answer') | translate }}</span>
        </button>

        <button mat-menu-item (click)="markCorrect(comment, 1)"
                attr.aria-labelledby="comment_correct{{ comment.id }}">
          <mat-icon class="correct-icon">check_circle</mat-icon>
          <span>{{ (comment.correct !== 1 ? 'comment-page.mark-correct' :
            'comment-page.mark-not-correct') | translate }}</span>
        </button>

        <button mat-menu-item (click)="markCorrect(comment, 2)"
                attr.aria-labelledby="comment_not_correct{{ comment.id }}">
          <mat-icon class="wrong-icon">cancel</mat-icon>
          <span>{{ (comment.correct != 2 ? 'comment-page.mark-wrong' :
            'comment-page.mark-not-wrong') | translate }}</span>
        </button>
        <button mat-menu-item (click)="setFavorite(comment)" attr.aria-labelledby="comment_grade{{ comment.id }}">
          <mat-icon class="favorite-icon">grade</mat-icon>
          <span>{{ (!comment.favorite ? 'comment-page.mark-favorite' :
            'comment-page.mark-not-favorite') | translate }}</span>
        </button>
        <button mat-menu-item (click)="openDeleteCommentDialog()" attr.aria-labelledby="comment_delete{{ comment.id }}">
          <mat-icon class="delete-icon">delete</mat-icon>
          <span>{{ 'comment-page.delete' | translate }}</span>
        </button>
        <button mat-menu-item (click)="setAck(comment)" attr.aria-labelledby="comment_moderation{{ comment.id }}">
          <mat-icon class="gavel-icon">gavel</mat-icon>
          <span>{{ 'comment-page.reject' | translate }}</span>
        </button>

      </mat-menu>
    </div>
    <div fxLayout="row">
      <div class="body click" (click)="openPresentDialog(comment)" tabindex="0"
           attr.aria-labelledby="comment-{{ comment.id }}">
        <span aria-hidden="true">{{ comment.body.trim() }}</span>
        <span id="comment-{{ comment.id }}" class="visually-hidden"
              aria-hidden="true">{{ 'comment-page.comment' | translate: {
          time: (language === 'de' ? (comment.timestamp | date: ' HH:mm ') : (comment.timestamp | date: 'h:mm a')),
          votes: comment.score === 1 ? ('comment-page.a11y-text_textForOneVote' | translate) : comment.score + ('comment-page.a11y-text_textForVotes' | translate),
          comment: comment.body.trim(),
          correct: comment.correct === 1 ? ('comment-page.a11y-text_correct' | translate) : "",
          wrong: comment.correct === 2 ? ('comment-page.a11y-text_wrong' | translate) : "",
          bonus: comment.favorite ? ('comment-page.a11y-text_grade' | translate) : "",
          beamer: comment.read ? ('comment-page.a11y-text_read' | translate) : ""
        }
          }}</span>
      </div>
      <span class="fill-remaining-space click" (click)="openPresentDialog(comment)"></span>
      <div fxLayout="column" *ngIf="isStudent" [ngClass]="{ '1': 'voteUp', '-1': 'voteDown', '0': 'reset'}[currentVote]">
        <button mat-icon-button (click)="vote(1)" matTooltip="{{ 'comment-page.vote-up' | translate }}"
                tabindex="0" attr.aria-labelledby="comment_vote_up{{ comment.id }}">
          <mat-icon class="voting-icon light" [ngClass]="{'upVoted' : hasVoted === 1}">keyboard_arrow_up</mat-icon>
        </button>
        <span class="score">{{comment.score}}</span>
        <button mat-icon-button (click)="vote(-1)" matTooltip="{{ 'comment-page.vote-down' | translate }}"
                tabindex="0" attr.aria-labelledby="comment_vote_down{{ comment.id }}">
          <mat-icon class="voting-icon light" [ngClass]="{'downVoted' : hasVoted === -1}">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <div *ngIf="!isStudent" fxLayout="column" fxLayoutAlign="center">
        <span class="scoreCreator">{{comment.score}}</span>
      </div>

    </div>
    <div (click)="this.clickedOnTag.emit(comment.tag)" *ngIf="comment.tag && comment.tag !== ''"
         class="comment-tags light">
      <mat-chip-list>
        <mat-chip>
          {{comment.tag}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</mat-card>

<!--Hidden Div's for a11y-Descriptions-->
<div class="visually-hidden">
  <div
    id="comment_correct{{ comment.id }}">{{comment.correct != 1 ? ('comment-page.a11y-comment_not_marked_correct' | translate)
    : ('comment-page.a11y-comment_marked_correct' | translate) }}
  </div>
  <div
    id="comment_not_correct{{ comment.id }}">{{comment.correct != 2 ? ('comment-page.a11y-comment_not_marked_wrong' | translate)
    : ('comment-page.a11y-comment_marked_wrong' | translate) }}
  </div>
  <div id="comment_grade{{ comment.id }}">{{ !comment.favorite ? ('comment-page.a11y-comment_grade' | translate)
    : ('comment-page.a11y-comment_not_grade' | translate) }}
  </div>
  <div id="comment_delete{{ comment.id }}">{{'comment-page.a11y-comment_delete' | translate}}</div>
  <div id="comment_moderation{{ comment.id }}">{{'comment-page.a11y-comment_moderation' | translate}}</div>
  <div *ngIf="isStudent" id="comment_vote_up{{ comment.id }}">{{'comment-page.a11y-comment_vote_up' | translate}}</div>
  <div *ngIf="isStudent"
       id="comment_vote_down{{ comment.id }}">{{'comment-page.a11y-comment_vote_down' | translate}}</div>
</div>
