@import '~@angular/material/theming';

$dark-primary: mat-palette($mat-green, 500);
$dark-accent: mat-palette($mat-amber, 400);
$dark-warn: mat-palette($mat-red, 900);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
