mat-form-field {
  font-size: 28px;
  width: 135px;
}

mat-placeholder {
  font-size: 20px;
}

mat-error {
  font-size: small;
  color: var(--on-surface) !important;
}

.mat-raised-button {
  height: 50px;
  width: 70px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 0;
  overflow: hidden;
  direction: rtl;
}

.arrow-container {
  height: 50px;
  width: 210px;
}

.arrow-hover-in {
  animation: joinIn 0.3s linear forwards;
}

.arrow-hover-out {
  animation: joinOut 0.3s linear forwards;
}

@keyframes joinIn {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  40% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translate(75px);
  }
}

@keyframes joinOut {
  0% {
    opacity: 1;
    transform: translateX(75px);
  }
  40% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

.arrow-hover-in > mat-icon {
  &:first-of-type {
    transition: 0.2s;
    margin-left: 20px;
  }
  animation: minimizeIcon 0.3s linear forwards;
}

.arrow-hover-out > mat-icon {
  animation: maximizeIcon 0.3s linear forwards;
  &:first-of-type {
    transition: 0.2s;
    margin-left: 0;
  }
}

@keyframes minimizeIcon {
  0% {
    opacity: 1;
    width: 70px;
  }
  40% {
    opacity: 0;
    width: 50px;
  }
  100% {
    opacity: 1;
    width: 20px;
  }
}

@keyframes maximizeIcon {
  0% {
    opacity: 1;
    width: 20px;
  }
  40% {
    opacity: 0;
    width: 50px;
  }
  100% {
    opacity: 1;
    width: 70px;
  }
}

.arrow-icon {
  width: 70px;
  height: 50px;
  font-size: 50px;
  color: var(--on-primary);
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
