<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <form>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-form-field (keyup.enter)="onEnter()">
        <input id="session_id-input" matInput #sessionCode (focus)="eventService.makeFocusOnInputTrue()"
               (blur)="eventService.makeFocusOnInputFalse()"
               type="text" pattern="[0-9 ]*" inputmode="numeric" min="00000000" max="99999999"
               (keydown)="prettifySessionCode($event)" [formControl]="sessionCodeFormControl"
               [errorStateMatcher]="matcher" aria-labelledby="join-input-label" autocomplete="off"
        />
        <mat-placeholder>{{ 'home-page.session-id' | translate}}</mat-placeholder>
        <mat-error *ngIf="sessionCodeFormControl.hasError('required')"
                   aria-hidden="true">{{ 'home-page.please-enter' | translate}}</mat-error>
        <mat-error
          *ngIf="sessionCodeFormControl.hasError('pattern')">{{ 'home-page.only-numbers' | translate}}</mat-error>
      </mat-form-field>
      <button [disabled]="cookiesDisabled()" mat-raised-button class="button-primary" (click)="joinRoom(sessionCode.value)"
              aria-labelledby="join-button-label">
        <div fxLayoutAlign="center center" class="arrow-container"
             (mouseenter)="toggleArrowAnimation(sessionCode.value, true)"
             (mouseleave)="toggleArrowAnimation(sessionCode.value, false)"
             [ngClass]="{'arrow-hover-in': joinHover === true && isDesktop,
                         'arrow-hover-out': joinHover === false && isDesktop}">
          <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
          <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
          <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
        </div>
      </button>
    </div>
  </form>
</div>

<div class="visually-hidden">
  <div id="join-input-label">{{ 'home-page.accessibility-join-input' | translate }}</div>
  <div id="join-button-label">{{ 'home-page.accessibility-join-button' | translate }}</div>
</div>
