<div fxLayout="row" [ngClass]="{'search-container' : !scroll, 'search-container-fixed' : scroll}"
     *ngIf="comments.length > 2" (window:scroll)="checkScroll()" fxLayoutAlign="center">
  <mat-label *ngIf="deviceType === 'desktop'" fxLayoutAlign="center center">
    <mat-icon class="search-icon">search</mat-icon>
  </mat-label>
  <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
         #searchBox id="searchBox" [ngClass]="{'desktop-input': deviceType === 'desktop',
   'mobile-input': deviceType === 'mobile' && !search, 'mobile-input-2': deviceType === 'mobile' && search }"
         (input)="searchComments()" [(ngModel)]="searchInput" [placeholder]="searchPlaceholder"
         aria-labelledby="search-box-input-description"/>
  <button id="search_close-button"
          mat-icon-button class="searchBarButton close" *ngIf="searchInput !== '' || search"
          (click)="hideCommentsList=false; searchInput = ''; search = false; searchPlaceholder = '';">
    <mat-icon>close</mat-icon>
  </button>

  <div class="button-bar" fxLayoutAlign="center center">
    <div *ngIf="comments && comments.length > 0">
      <h3 class="counter" *ngIf="comments && !hideCommentsList">{{comments.length}}</h3>
      <h3 class="counter-filtered" *ngIf="filteredComments && hideCommentsList">{{filteredComments.length}}</h3>
    </div>

    <button mat-icon-button class="searchBarButton" (click)="activateSearch()"
            *ngIf="deviceType === 'mobile' && !search && comments && comments.length > 0 && !search">
      <mat-icon class="searchBarIcon">search</mat-icon>
    </button>

    <button id="sort-button"
            mat-icon-button class="searchBarButton"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="sortMenu" matTooltip="{{ 'comment-list.sort-comments' | translate }}">
      <mat-icon class="searchBarIcon">swap_vert</mat-icon>
    </button>

    <button mat-icon-button class="searchBarButton" (click)="switchToCommentList()"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            matTooltip="{{ 'comment-list.switch-to-comment-list' | translate }}">
      <mat-icon class="searchBarIcon">playlist_add_check</mat-icon>
    </button>
  </div>

  <mat-menu #sortMenu="matMenu" xPosition="before">
    <button mat-menu-item *ngIf="isSafari === 'false'" matTooltip="{{ 'comment-list.time' | translate }}"
            (click)="sortComments(time)" aria-labelledby="access_time">
      <mat-icon [ngClass]="{time: 'unread-icon'}[currentSort]">access_time</mat-icon>
      <span>{{ 'comment-list.sort-list-time' | translate }}</span>
    </button>

    <button mat-menu-item matTooltip="{{ 'comment-list.vote-asc' | translate }}"
            (click)="sortComments(votedesc)" aria-labelledby="keyboard_arrow_up">
      <mat-icon [ngClass]="{votedesc: 'up'}[currentSort]">keyboard_arrow_up</mat-icon>
      <span>{{ 'comment-list.sort-vote-asc' | translate }}</span>
    </button>

    <button mat-menu-item matTooltip="{{ 'comment-list.vote-desc' | translate }}"
            (click)="sortComments(voteasc)" aria-labelledby="keyboard_arrow_down">
      <mat-icon [ngClass]="{voteasc: 'down'}[currentSort]">keyboard_arrow_down</mat-icon>
      <span>{{ 'comment-list.sort-vote-desc' | translate }}</span>
    </button>
  </mat-menu>

</div>

<app-loading-indicator *ngIf="isLoading" [size]="80"></app-loading-indicator>

<button mat-icon-button class="scrollTop" [ngClass]="{'visible': scrollExtended}"
        (click)="scrollTop()" tabIndex="-1">
  <mat-icon>arrow_upward</mat-icon>
</button>

<div *ngIf="!isLoading">
  <app-comment *ngFor="let current of comments" [comment]="current" [userRole]="user.role"
               [parseVote]="getVote(current)" [moderator]="true"></app-comment>
</div>

<div *ngIf="comments && comments.length < 1 && !isLoading" fxLayout="row" fxLayoutAlign="center center"
     class="no-comments">
  <p>{{ 'comment-page.no-comments' | translate }}</p>
</div>

<div class="visually-hidden">
  <div id="search-box-input-description">
    {{ 'comment-page.search-box-input-description' | translate }}
  </div>
  <div id="keyboard_arrow_up">{{'comment-list.a11y-keyboard_arrow_up' | translate}}</div>
  <div id="keyboard_arrow_down">{{'comment-list.a11y-keyboard_arrow_down' | translate}}</div>
  <div id="access_time">{{'comment-list.a11y-access_time' | translate}}</div>
</div>
