@import 'theme/dark-theme/dark-theme';
@import 'theme/arsnova-theme/arsnova-theme';

@include mat-core();

@include angular-material-theme($arsnova-theme);

.dark {
  @include angular-material-theme($dark-theme);
}

@import 'theme/theme';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
}

// Scrollbar

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--surface);
  border-radius: 10px;
}

// States

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.disabled {
  opacity: 0.5;
}

// Headings & Texts

h1, h2, h3, h4 {
  color: var(--on-surface);
  outline: none;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 18px !important;
}

h4 {
  font-size: 17px !important;
}

p, div {
  color: var(--on-surface);
  hyphens: auto;
}

address {
  font-style: normal;
}

// Inputs

input, input:focus {
  color: var(--on-surface);
  caret-color: var(--on-surface);

  &:focus {
    caret-color: var(--on-surface);
  }
}

textarea {
  line-height: 120%;
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

mat-form-field {
  color: var(--on-surface);
}

mat-placeholder {
  color: var(--on-surface);
}

mat-hint {
  color: var(--on-surface) !important;
}

mat-error {
  color: var(--warn) !important;
}

markdown {
  color: var(--on-surface);
}

// Dialogs

.screenDialog {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

mat-dialog-content {
  outline: none;
}

// Mat Progress Bar

.feedback-progress .mat-progress-bar-fill::after {
  background-color: var(--secondary);
}

.feedback-progress .mat-progress-bar-buffer {
  background-color: var(--secondary-variant);
}

.statistic-status-good .mat-progress-bar-fill::after {
  background-color: var(--green);
}

.statistic-status-good .mat-progress-bar-buffer {
  background-color: var(--green-light);
}

.statistic-status-okay .mat-progress-bar-fill::after {
  background-color: var(--yellow);
}

.statistic-status-okay .mat-progress-bar-buffer {
  background-color: var(--yellow-light);
}

.statistic-status-bad .mat-progress-bar-fill::after {
  background-color: var(--red);
}

.statistic-status-bad .mat-progress-bar-buffer {
  background-color: var(--red-light);
}

// Mat Tab

.mat-tab-header-pagination-chevron {
  border-color: var(--secondary);
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: var(--secondary-variant);
  opacity: 0.5;
}

.mat-tab-label {
  padding: 0 4% !important;
  color: var(--on-surface);
  opacity: 1 !important;
}

.mat-tab-label-active {
  color: var(--on-surface);
}

.mat-ink-bar {
  background-color: var(--primary) !important;
}

// Mat Form Field

.mat-form-field-label {
  color: var(--on-surface) !important;
}

.mat-form-field-underline {
  background-color: var(--on-surface) !important;
}

.mat-form-field-ripple {
  background-color: var(--on-surface) !important;
}

// Mat Radio Button

.mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: var(--secondary) !important;
  }

  border-color: var(--on-surface);
}

.mat-radio-inner-circle {
  background-color: var(--secondary) !important;
}

.mat-radio-ripple .mat-ripple-element {
  background-color: var(--secondary);
}

.mat-list-item-content > mat-radio-button > .mat-radio-label > .mat-radio-label-content {
  padding-left: 18px !important;
}

// Mat Checkbox

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--secondary);
}

.mat-checkbox-frame {
  border-color: var(--on-surface);
}

.mat-checkbox-label {
  margin-left: 10px;
}

.mat-checkbox-layout {
  margin: 10px 0;
  white-space: normal !important;
}

// Mat Slider


.mat-accent .mat-slider-thumb {
  background-color: var(--primary);
}

.mat-accent .mat-slider-thumb-label {
  background-color: var(--primary);
}

.mat-accent .mat-slider-track-fill {
  background-color: var(--primary);
}

// Mat Slide

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--secondary);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--secondary-variant);
}

// Mat Select

.mat-select-value-text {
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

.mat-select-arrow-wrapper .mat-select-arrow {
  color: var(--on-surface);
}

.mat-select-value-text {
  color: var(--on-surface);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--primary);
}

// Mat List

.mat-list-base .mat-list-item {
  min-height: 48px;
  height: auto !important;
}

// Buttons

.mat-raised-button[disabled] {
  color: var(--on-surface)!important;
  opacity: 0.6;
}

.button-primary {
  background-color: var(--primary);
  color: var(--on-primary);
}

.button-secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.button-warn {
  background-color: var(--warn);
  color: var(--on-warn);
}

.button-text {
  color: var(--on-surface);
  padding-left: 5px;
  font-size: 16px;
}

.info-icon {
  color: var(--on-background);
  opacity: 0.6;
}

// Icons

mat-icon {
  line-height: 100% !important;
}

// Card

mat-card {
  max-width: 800px;
  background: var(--surface) !important;
}

// Badge

.mat-badge-content {
  background: var(--secondary);
  color: var(--on-secondary);
}

// Mat expansion panel

.mat-expansion-indicator::after {
  color: var(--on-surface);
}
