table {
  width: 100%;
}

.mat-column-content {
  min-width: 120px;
  padding-left: 4%;
}

.mat-column-percentage {
  display: flex;
  justify-content: center;
  padding-right: 4%;
  max-width: 120px;
}

.mat-column-counts {
  display: flex;
  justify-content: center;
  max-width: 120px;
}

.mat-column-abstentions {
  display: flex;
  justify-content: center;
  max-width: 120px;
}

mat-header-cell {
  color: black;
  background-color: var(--grey);
}

mat-cell {
  color: var(--on-surface);
}

mat-toolbar {
  height: 20px;
  background-color: var(--surface);
}

.clickable {
  cursor: pointer;
}

.invisible {
  pointer-events: none;
}

mat-progress-bar {
  height: 8px;
  width: 90%;
  max-width: calc(100vw - 110px);
}

mat-row {
  background-color: var(--table-a);
  border-style: none;
  &:nth-child(even) {
    background-color: var(--table-b);
  }
}
