<form (ngSubmit)="submitContent()">
  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button type="submit" class="button-primary">{{'content.create' | translate}}</button>
  </div>
</form>
