@import '~@angular/material/theming';

$arsnova-primary: mat-palette($mat-deep-purple, 600);
$arsnova-accent: mat-palette($mat-green, 800);
$arsnova-warn: mat-palette($mat-red, 600);

$arsnova-theme: mat-light-theme($arsnova-primary, $arsnova-accent, $arsnova-warn);
