<div>
  <div fxLayout="column">
    <div fxLayout="row">
      <p>{{ 'settings.threshold' | translate}}&nbsp;
        <mat-slide-toggle [(ngModel)]="enableThreshold" aria-labelledby="threshold"></mat-slide-toggle>
      </p>
      <button mat-icon-button class="info-button" #ttt="matTooltip" matTooltip="{{ 'settings.threshold-info' | translate }}"
              (click)="ttt.toggle()">
        <mat-icon class="info-icon">info</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="enableThreshold">
      <mat-slider id="commentSlider" min="-100" max="0" step="5" [(ngModel)]="threshold"
                  (input)="onSliderChange($event)" (change)="updateCommentSettings()"></mat-slider>
      <h2>&nbsp;{{ threshold | number }}</h2>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row">
      <p>{{ 'settings.comment-moderation' | translate}}&nbsp;
        <mat-slide-toggle [(ngModel)]="enableModeration" (change)="updateCommentSettings()"
                          aria-labelledby="settings-comment-moderation"></mat-slide-toggle>
      </p>
    </div>
    <div fxLayout="row" *ngIf="enableModeration">
      <p>{{ 'settings.direct-send' | translate}}&nbsp;
        <mat-slide-toggle [(ngModel)]="directSend" (change)="updateCommentSettings()"
                          aria-labelledby="settings-direct-send"></mat-slide-toggle>
      </p>
      <button mat-icon-button class="info-button" #dstt="matTooltip"
              matTooltip="{{ 'settings.direct-send-info' | translate }}"
              (click)="dstt.toggle()">
        <mat-icon class="info-icon">info</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <button mat-raised-button class="button-secondary action" (click)="openExportDialog()"
            aria-labelledby="export-comments">
      <mat-icon class="export-icon">save</mat-icon>
      {{ 'settings.export-comments' | translate }}</button>
  </div>
  <div>
    <button mat-button class="delete" (click)="openDeleteCommentsDialog()"
            aria-labelledby="delete-all-comments">
      <mat-icon>delete</mat-icon>
      {{ 'settings.delete-all-comments' | translate }}</button>
  </div>
</div>

<div class="visually-hidden">
  <div id="threshold">{{'settings.a11y-threshold' | translate}} </div>
  <div id="settings-comment-moderation">{{'settings.a11y-settings-comment-moderation' | translate}} </div>
  <div id="settings-direct-send">{{'settings.a11y-settings-direct-send' | translate}} </div>
  <div id="export-comments">{{'settings.a11y-export-comments' | translate}} </div>
  <div id="delete-all-comments">{{'settings.a11y-delete-all-comments' | translate}} </div>
</div>
